*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F0EEF1;
    max-width: 1920px;
    margin: auto;
}
header{

    background-color: #FFFBFB;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
.header_wrapper{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
    width: 87%;
    margin: auto;
}
.header_wrapper h1{
    font-weight: 600;
}
.login {
    font-size: 1.6rem;
    padding: 0.9rem 1.1rem;
    font-weight: 500;
    border: none;
    background: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #F0EEF1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.login:hover{
    background-color: #D8D8D8;
}
.content{
    background-color: #F0EEF1;
    min-height: 78vh;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.add{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0.5rem;

}
.add:hover{
    background-color: #D8D8D8;
}
.grid-table{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 2rem;
    width: 87%;
    margin: 0rem auto;
    margin-top: 40px;
}
.bookCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.7rem;
    background-color: #FFFBFB;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.7rem;
}
.copy{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
}
.icon{
    position: relative;
    top: 2px;
    transform: rotateZ(0deg) scale(0.9);
    transition: transform 0.3s ease-in-out;
}
.icon:hover{
    transform: rotateZ(360deg) scale(1.2);
}
.read,.remove{
    width: 100%;
    padding: 0.6rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: none;
    color: #000000;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;

}
.read{
    background-color: #8FE58C;
}
.read:hover{
    background-color: #40db3b;
}
.remove{
    background-color: #F0EEF1   ;
}
.remove:hover{
    background-color: #D8D8D8   ;
}

/* PupUp */
.pupup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 0.5s ease-in;
}
.pupup.active{
    display: flex;
}
.create{
    background-color: #F0EEF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 448px;
    clip-path: circle(0px);
    transition: 0.5s ease-in;
}
.create.active{
    clip-path: circle(2500px);

}
.create h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.isread{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 1.5rem;
}
.isread p{
    font-size: 1.2rem;
    font-weight: 600;
}
.isread input{
    width: 25px;
    accent-color: white;
    height: 25px;
}
.input{
    font-size: 1.3rem;
    padding: .8rem 1.5rem ;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
.input::placeholder{
    font-weight: 500;
    letter-spacing: .1rem;
}